{% extends "base.html" %}
{% block body %}
  <form action="" method="POST">
    <!-- <input type="text" id="school" placeholder="User Name"/> -->
    <select id="school">
      {% for school in schools %}
        <option value='{{school[0]}}'>{{school[1]}}</option>
      {% endfor %}
    </select>
    <input type="text" id="amount" placeholder="Messages"/>
    <input type="submit"/>
  </form>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'connect', function() {
      socket.emit( 'my event', {
        data: 'User Connected'
      } )
      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        let school = $( 'select#school' ).val()
        let amount = $( 'input#amount' ).val()
        socket.emit( 'my event', {
          school : school,
          amount : amount
        } )
        $( 'input#amount' ).val( '' ).focus()
      } )
    } )
  </script>
  {% endblock %}